<div class="container-fluid">


  <div class="container">


    <div class="text-center">

      <div class="col-md-12" >

          <h2 class="font-effect-outline" style="font-family: sofia" > Let's Find You Together</h2>

      </div>
      <!-- form -->

      <div id="contact">

          <form class="form">
          <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="validate" target="_blank" novalidate>
            <div id="signup_scroll">
              <div class="form">
                <label for="mce-NAME"> </label>
                <input type="text"  value="" name="NAME" class="form-control required" id="mce-NAME" placeholder="Enter first name here...">
              </div>
              <div class="form">
                <label for="mce-FNAME">  </label>
                <input type="text" value="" name="FNAME" class="form-control required" id="mce-FNAME" placeholder="Enter last name here...">
              </div>
              <div class="form">
                <label for="mce-EMAIL">  </label>
          <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="Enter email address here...">
              </div>
              <div class="form">
                <label for="mce-PHONE">  </label>
                <input type="text" value="" name="PHONE" class="form-control required" id="mce-PHONE" placeholder="Enter phone number here...">
              </div>
              <div class="form" mc-field-group>
                <label for="mce-MESSAGE"> </label>
                <textarea type="text" value="" name="MESSAGE" class="form-control required" id="mce-MESSAGE" placeholder="Type message here"></textarea>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_c9cb5614af1111c709f67e039_b7d2bd4f61" tabindex="-1" value=""></div>
              <div class="text-centre "><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btb btn-primary">Submit</button></div>
            </div>
          </form>
      </form>
        </div>





          <div class="col-md-12">
              <div class="space">
                  <div class="text-center">
                      <p id="container">
                          Are you ready to work with someone who understands property management systems and wants to see you grow..?
                      </p>

                  </div>
              </div>
          </div>
      </div>


  </div>



</div>

<div>

  <app-footer></app-footer>

</div>

