
#button {
  padding: 14px 80px;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 900;
  border: white;
  border-radius: 20px;
  color: white;
}

#button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
h2 {
  padding: 30px;
  font-size: 80px;
  font-family: 'Viaoda Libre', cursive;

}

#contact{
  /* margin: 60px 20% 20px 20%; */
  padding: 10px;
}
label{
  font-size: 20px;
  /* font-weight: 900; */
  color: black;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}
::placeholder{
  font-family: "Sofia", sans-serif;
  font-size: 20px;
  text-align: center;


}

#container {
  font-size: 30px;
  font-weight: 500;
  font-family: "Sofia", sans-serif;


}


.btb{
  padding: 15px 50px;
  margin-top: 20px;
  background-color: rgb(40, 46, 62);
   color: whitesmoke;
  font-size: 20px;
  border: 0px;
  border-radius: 10px;
}
