.container{
  width: 100%;
  height: auto;
  font-size: 70px;
  padding-top: 50px;
  border-radius: 20px;

}
p{
  font-family: 'Pacifico', cursive;
  color: whitesmoke;
  /* font-family: 'Viaoda Libre', cursive; */
  /* font-family: "Sofia", sans-serif; */
  


}


