#image{
  width: 300px;
  height: 300px;
  padding: 20px;

}
img{
  border-radius: 20px;


}

#paragraph{
  font-size: 30px;
  padding: 20px;
  font-family: "Sofia", sans-serif;

}

.row{
  justify-content: space-evenly;
}

#container {
  font-size: 30px;
  font-weight: 500;
  font-family: "Sofia", sans-serif;


}
#size{
  padding-top: 5%;
}
