



<div class="container-fluid p-5">

  <div class="row">

    <div class="col-md-6">

      <img src="

      https://media.istockphoto.com/photos/moving-into-a-new-apartment-picture-id1138129473?k=6&m=1138129473&s=612x612&w=0&h=Jw2-bL4IyBFvTFRMDZq-JPFG_yc3aIBG2MRC_delSAk=
          " alt="" id="image">

    </div>

    <div class="col-md-6 details">

      <!-- <h2> Seamlessly connecting agents, <br> buyers, and sellers</h2>

      <p>

        Homes.com is building a next-generation collaborative marketplace to connect buyers, sellers, and agents and equip them with the right tools at every step of the process. With over one million listings and innovative features, we'll help you make the most informed decision, whether you're buying your dream home or selling a property. We're redefining the home buying process.

      </p> -->

      <img src="

      https://media.northwesternmutual.com/images/787-family-moving-into-new-home-976813474.jpg
      " alt="" id="image">

      <h2> Karibu Nyumbani</h2>

    </div>
  </div>


</div>

<div class="container-fluid text-center">

  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, porro et autem  <br> adipisci unde ullam voluptas blanditiis deleniti beatae neque.</h3>
</div>





<div class="container-fluid p-5">

  <div class="row">

    <div class="col-md-6 details">

      <h2> Seamlessly connecting agents</h2>

      <p>

        Homes.com is building a next-generation collaborative marketplace to connect buyers, sellers, and agents and equip them with the right tools at every step of the process. With over one million listings and innovative features, we'll help you make the most informed decision, whether you're buying your dream home or selling a property. We're redefining the home buying process.

      </p>

      <h2> buyers, and sellers</h2>

    </div>


    <div class="col-md-6 details ">



        <h2> Property Management.</h2>

        <p>

          Homes.com is building a next-generation collaborative marketplace to connect buyers, sellers, and agents and equip them with the right tools at every step of the process. With over one million listings and innovative features, we'll help you make the most informed decision, whether you're buying your dream home or selling a property. We're redefining the home buying process.

        </p>




    </div>

  </div>

</div>

<div>

<app-aboutportfolio></app-aboutportfolio>

</div>

