<div class="container-fluid body p-5">

  <!-- Navigation -->

  <div class="row">
    <div class="col-md-4">


      <div class="row">
        <div class="col-md-6">
          <div class="logo">
            <img src="

            https://static.vecteezy.com/system/resources/thumbnails/000/616/494/small/home-06.jpg

            " alt="" style="height: 100px; border-radius: 100px;">
          </div>
        </div>

        <div class="col-md-6">



        </div>

      </div>


    </div>






    <div class="col-md-2">

      <!-- <div class="row">
        <div class="col-md-6">
          <li>
            <a routerLink="/home" class="underline">



              <button type="button" class="btn btn-outline-success">HOME</button>


            </a>
          </li>

        </div>
        <div class="col-md-6">

          <li>
            <a routerLink="/about">

              <button type="button" class="btn btn-outline-success">ABOUT</button>

            </a>
          </li>
        </div>

      </div> -->

    </div>


    <div class="col-md-6 cool">



        <div class="space">

          <a routerLink="/home">Home</a>

          <a routerLink="/about">About</a>

          <a routerLink="">About</a>

          <a routerLink="">About</a>



        </div>

    </div>




  </div>
</div>
