@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* li{
  text-decoration: none;
  list-style: none;

}
h1 {
  text-align: center;

}
.btn{

  width: 200px;

}

