<div class="container-fluid p-5">

  <div class="row">

    <div class="col-md-6">

      <img src="

      https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
      " alt="" id="image">

    </div>

    <div class="col-md-6 details">

      <h2> Seamlessly connecting agents, <br> buyers, and sellers</h2>

      <p>

        Homes.com is building a next-generation collaborative marketplace to connect buyers, sellers, and agents and equip them with the right tools at every step of the process. With over one million listings and innovative features, we'll help you make the most informed decision, whether you're buying your dream home or selling a property. We're redefining the home buying process.

      </p>

    </div>
  </div>
  <br>

  <hr>

</div>
